.header {
    display: flex;
    border: solid 1px black;
    justify-content: space-between;
}

.logo {
    width: 150px;
}

.nav-items {
    display: flex;
    align-items: center;
    padding:20px;
    margin: 30px;
}

.nav-items > ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.nav-items > ul > li {
    padding: 10px;
    font-size: 24px;
}

.res-card {
    width: 250px;
    padding: 3px;
    margin: 5px;
}

.res-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.search {
    padding: 10px;
}

.res-logo {
    width: 100%;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.shimmer-card {
    width : 250px;
    height: 400px;
    background-color: "#fofofo";
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
}

.login {
    padding: 0px 20px;
    cursor: pointer;
}

.filter {
    display: flex;;
}

.search-box {
    display: flex;
    margin: 10px;
}